/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-family: "Segoe UI", Arial, sans-serif;
  /* 1 */
  font-size: 81.25%;
  line-height: 1.84615em;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  line-height: 1.84615em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.92308em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.23077em;
  margin: 1.23077em 0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.57791em;
  margin: 1.57791em 0;
}

h4 {
  font-size: 1em;
  line-height: 1.84615em;
  margin: 1.84615em 0;
}

h5 {
  font-size: 0.83em;
  line-height: 2.22428em;
  margin: 2.22428em 0;
}

h6 {
  font-size: 0.67em;
  line-height: 2.75545em;
  margin: 2.75545em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.84615em 40px;
}

dl,
ol,
ul {
  margin: 1.84615em 0;
}

/**
 * Turn off margins on nested lists.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1.84615em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.84615em 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: "Segoe UI", Arial, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.84615em;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
  /*
   * 1. Set 1 unit of vertical rhythm on the top and bottom margin.
   * 2. Set consistent space for the list style image.
   */
  margin: 1.84615em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
  /**
   * Turn off margins on nested lists.
   */
}
menu menu, ol menu, ul menu {
  margin: 0;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.region-sidebar-first, .main-content, .region-sidebar-second {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  .region-sidebar-first, .region-sidebar-second {
    float: left;
    width: 260px;
  }

  .region-sidebar-second {
    float: right;
  }

  .one-sidebar .main-content, .two-sidebars .main-content {
    float: left;
    width: 100%;
  }

  .sidebar-first .main-content-wrap, .two-sidebars .main-content-wrap {
    margin-left: 280px;
  }

  .sidebar-second .main-content-wrap {
    margin-right: 280px;
  }

  .two-sidebars .region-sidebar-second {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .two-sidebars .region-sidebar-second {
    width: 260px;
  }
  .two-sidebars .main-content-wrap {
    margin-right: 280px;
  }
}
/**
 * Generic Components
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #626262;
  background: #f5f5f5;
}

a {
  color: #337ab7;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover, a:active {
  color: #48b0f7;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  margin-top: 0;
}

ol, ul {
  padding-left: 15px;
}

dt {
  font-weight: 600;
  margin: 10px 0 0;
}
dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 0;
}

.pge-wdt {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.main-content, .region-sidebar-first, .region-sidebar-second {
  background: #fff;
  padding: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mn {
  margin: 0;
}

.mt {
  margin-top: 10px;
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 10px;
}

.ml {
  margin-left: 10px;
}

.mtb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mlr {
  margin-left: 10px;
  margin-right: 10px;
}

.mc {
  margin: 10px;
}

.dmt {
  margin-top: 20px;
}

.dmr {
  margin-right: 20px;
}

.dmb {
  margin-bottom: 20px;
}

.dml {
  margin-left: 20px;
}

.dmlr {
  margin-left: 20px;
  margin-right: 20px;
}

.pn {
  padding: 0;
}

.pt {
  padding-top: 10px;
}

.pr {
  padding-right: 10px;
}

.pb {
  padding-bottom: 10px;
}

.pl {
  padding-left: 10px;
}

.ptb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plr {
  padding-left: 10px;
  padding-right: 10px;
}

.pc {
  padding: 10px;
}

.dpt {
  padding-top: 20px;
}

.dpr {
  padding-right: 20px;
}

.dpb {
  padding-bottom: 20px;
}

.dpl {
  padding-left: 20px;
}

.dplr {
  padding-left: 20px;
  padding-right: 20px;
}

.bt {
  border-top: 1px solid #ccc;
}

.br {
  border-right: 1px solid #ccc;
}

.bb {
  border-bottom: 1px solid #ccc;
}

.bl {
  border-left: 1px solid #ccc;
}

.hd {
  display: none;
}

.sw {
  display: block;
}

.am {
  text-align: center;
}

h1 {
  margin: 0 0 10px;
}

.toolbar-horizontal, .toolbar-vertical {
  padding-top: 0 !important;
}

/**
 * Breadcrumb
*/
.breadcrumb {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.846em;
}
.breadcrumb ol {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 10px;
}
.breadcrumb ol li {
  display: inline;
  padding: 0 5px 0 0;
}
.breadcrumb ol li a:before {
  content: '\f101';
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  position: relative;
  right: 5px;
}
.breadcrumb ol li:first-child a:before {
  display: none;
}

/**
 Tabs
*/
#block-flexi-local-tasks {
  margin: 0 0 15px;
}
#block-flexi-local-tasks ul {
  border-bottom: 1px solid #ccc;
  white-space: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#block-flexi-local-tasks ul li {
  padding: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#block-flexi-local-tasks ul li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: none;
  border: 0;
  padding: 15px 20px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: rgba(98, 98, 98, 0.7);
  position: relative;
}
#block-flexi-local-tasks ul li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 0;
  background: #424a5d;
  width: 100%;
  left: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
#block-flexi-local-tasks ul li a.is-active:before, #block-flexi-local-tasks ul li a a:hover:before {
  height: 3px;
  color: #626262;
}
#block-flexi-local-tasks ul {
  margin: 10px 0 0;
}
#block-flexi-local-tasks ul li a {
  padding: 8px 20px;
  font-size: 11px;
}

div.vertical-tabs {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list li {
  border-color: #ccc;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 0;
}
div.vertical-tabs details {
  padding: 0 1em;
}
div.vertical-tabs details .form-item {
  padding: 10px 0;
}
div.vertical-tabs .field--name-created h4 {
  margin: 0;
}
div.vertical-tabs .field--name-created .form-item {
  display: inline-block;
  width: 20%;
}
div.vertical-tabs .field--name-created .form-item input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  color: #2c2c2c;
  height: 35px;
  padding: 6px 12px;
}

/**
 * Admin Listing
*/
.admin-list, .node-type-list {
  margin-top: 0;
  background: #fff;
  list-style-type: none;
}
.admin-list li, .node-type-list li {
  margin: 0;
  padding: 10px;
  border-bottom: none;
}
.admin-list li .label, .node-type-list li .label {
  font-weight: 600;
}
.admin-list li .description, .node-type-list li .description {
  color: #2c2c2c;
  font-size: 1em;
  margin: 0;
}

.list-group {
  margin-top: 0;
  background: #fff;
}
.list-group dt {
  padding-top: 8px;
  padding-bottom: 0;
  font-weight: 600;
}
.list-group dt:first-child {
  border-top: 0;
}
.list-group dd, .list-group dt {
  margin: 0;
  padding: 0 10px 8px;
}

/**
 * site logo
*/
.site-logo {
  padding: 12px 0;
}
.site-logo .site-branding__logo, .site-logo .site-branding__text {
  display: inline-block;
  vertical-align: middle;
}
.site-logo .site-branding__name a {
  font-size: 1.4em;
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  padding-left: 10px;
}

/**
 * Pager
*/
.pager {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  list-style: none outside none;
  text-transform: uppercase;
}
.pager li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/**
 * Action Links
*/
.action-links {
  margin: 0;
  padding: 12px 0;
  list-style: none outside none;
}
.action-links li {
  display: inline;
  margin: 0 3px 0 0;
}

.action-links a, .compact-link a {
  background: #3d5da2;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 0 10px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
}

.title-wrapper h1.title {
  float: left;
  margin-bottom: 10px;
}
.title-wrapper .action-links {
  float: left;
  padding-left: 20px;
}

.ctools-button {
  background: #fff;
}
.ctools-button ul {
  margin: 0;
  padding: 0;
}

ul.links {
  padding-left: 0;
}
ul.links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style: none outside none;
}

/**
 * Overlay
*/
#overlay-titlebar {
  padding-left: 0;
}

#overlay-title {
  line-height: 1.231;
}

#overlay .page {
  padding: 10px 0;
}
#overlay #header, #overlay #footer {
  display: none;
}
#overlay #main, #overlay .main-content {
  padding: 0;
  margin: 0;
}

/**
 * Blocks
*/
.block > h2, .block .block-title {
  margin-top: 0;
}

/**
 * dropbutton toggle
*/
.dropbutton-toggle button:hover, .dropbutton-toggle button:focus {
  background: transparent;
}

.dropbutton-toggle button {
  color: #888;
}

/**
 * edit summary links
*/
.link-edit-summary {
  background: transparent;
  min-width: auto;
  color: #337ab7;
  border: none;
  font-size: 11px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  height: auto;
}
.link-edit-summary:hover {
  background: transparent;
  color: #48b0f7;
}

/**
 * contextual links
*/
.contextual .trigger {
  min-width: auto;
  border-radius: 5px;
}
.contextual.open .trigger {
  border-radius: 5px 5px 0 0;
}

/**
 * actions block
*/
.block-local-actions-block nav {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

/**
 * messages
*/
.messages__wrapper {
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  margin: 0 0 20px;
  padding: 0 0 5px 8px;
}

.messages {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.messages--error, .messages--status, .messages--warning {
  background: #fcf4f2;
  color: #a51b00;
  box-shadow: -8px 0 0 #e62600;
  border-color: #f9c9bf;
  position: relative;
  margin: 0 8px 20px;
}
.messages--error:before, .messages--status:before, .messages--warning:before {
  content: '\f057';
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}

.messages--status {
  color: #325e1c;
  background: #f3faef;
  border-color: #c9e1bd;
  box-shadow: -8px 0 0 #77b259;
}
.messages--status:before {
  content: '\f00c';
}

.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6;
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
}
.messages--warning:before {
  content: '\f071';
}

.messages + .messages {
  margin-top: 1.538em;
}

.highlighted + #main {
  padding-top: 10px;
}

/**
 * Tabledrag icons
*/
.touchevents .draggable td {
  padding: 10px 8px 0;
}
.touchevents a.tabledrag-handle {
  height: auto;
}
.touchevents a.tabledrag-handle .handle {
  background: url("../images/move.svg") no-repeat;
  background-size: auto;
  margin: 0 0.5em 0;
}

.path-admin .pg-tit-icons:before {
  content: '\f15b';
  display: inline-block;
  font: normal normal normal 26px/1 FontAwesome;
  color: #424a5d;
  padding-right: 10px;
}
.path-admin .icon_Structure:before {
  content: '\f0f7';
}
.path-admin .icon_Appearance:before {
  content: '\f1fc';
}
.path-admin .icon_Extend:before {
  content: '\f1e6';
}
.path-admin .icon_Configuration:before, .path-admin .icon_Account:before {
  content: '\f013';
}
.path-admin .icon_People:before {
  content: '\f007';
}
.path-admin .icon_Reports:before {
  content: '\f200';
}
.path-admin .icon_Help:before {
  content: '\f059';
}
.path-admin .icon_Block:before, .path-admin .icon_Display:before, .path-admin .icon_Form:before {
  content: '\f00a';
}
.path-admin .icon_Comment:before, .path-admin .icon_Comments:before {
  content: '\f086';
}
.path-admin .icon_Contact:before {
  content: '\f2b9';
}
.path-admin .icon_Menus:before {
  content: '\f03a';
}
.path-admin .icon_Taxonomy:before {
  content: '\f02c';
}
.path-admin .icon_Views:before {
  content: '\f022';
}
.path-admin .icon_System:before {
  content: '\f108';
}
.path-admin .icon_Development:before {
  content: '\f014';
}
.path-admin .icon_Search:before {
  content: '\f002';
}
.path-admin .icon_Regional:before {
  content: '\f1ab';
}

/*
* confirmation messages
*/
.confirmation p {
  margin: 5px 0;
}
.confirmation ul {
  margin: 10px 0;
  background: rgba(61, 93, 162, 0.15);
  padding: 10px 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.confirmation .form-actions {
  margin: 20px 0 0;
}

@media only screen and (min-width: 480px) {
  .sm-hd {
    display: none;
  }

  .sm-sw {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .md-hd {
    display: none;
  }

  .md-sw {
    display: block;
  }

  .pge-wdt {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-content, .region-sidebar-first, .region-sidebar-second {
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .lg-hd {
    display: none;
  }

  .lg-sw {
    display: block;
  }

  .toolbar-fixed .site-logo {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .xl-hd {
    display: none;
  }

  .xl-sw {
    display: block;
  }
}
.table-wrapper {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  margin: 5px 0 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table thead tr th {
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  padding: 10px 8px;
  color: rgba(44, 44, 44, 0.35);
  text-align: left;
}
table thead tr th a {
  color: rgba(44, 44, 44, 0.35);
}
table thead tr th.active a, table thead tr th a:active {
  color: #2c2c2c;
}
table thead tr th img {
  margin-left: 10px;
}
table tbody tr td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 12px 8px;
  background: #fff;
}
table tbody tr td .form-item {
  margin-bottom: 10px;
}
table tbody tr td ul {
  margin: 0;
  list-style-type: none;
}
table tbody tr.odd td {
  background: #f0f0f0;
}
table tbody tr:hover td {
  background: #daeffd;
}

table.sticky-header {
  z-index: 2;
}

a.tabledrag-handle .handle {
  height: 20px;
  width: 20px;
  background-position: 0 5px;
}

a.tabledrag-handle-hover .handle {
  background-position: 0 -15px;
}

.tabledrag-toggle-weight-wrapper {
  float: right;
  font-size: 11px;
  margin-bottom: -30px;
  height: 20px;
  padding: 5px;
}
.tabledrag-toggle-weight-wrapper a {
  display: block;
  height: 16px;
  width: 16px;
  padding: 2px;
  color: transparent;
  background: #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
.tabledrag-toggle-weight-wrapper a:before {
  content: '\f047';
  font: normal normal normal 14px/12px FontAwesome;
  color: #fff;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  position: absolute;
  left: 2px;
  top: 2px;
}

.draggable a.tabledrag-handle {
  margin: 5px -.5em 0 0;
}

.field-ui-overview .field-plugin-settings-edit {
  min-width: auto;
  background: transparent;
}
.field-ui-overview .field-plugin-settings-edit:hover {
  background: transparent;
  border: none;
}

.js-form-type-checkbox, .js-form-type-radio {
  position: relative;
}
.js-form-type-checkbox input + label, .js-form-type-radio input + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
.js-form-type-checkbox input + label:before, .js-form-type-radio input + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-property: border;
  -o-transition-property: border;
  -webkit-transition-property: border;
  transition-property: border;
}
.js-form-type-checkbox input + label:after, .js-form-type-radio input + label:after {
  display: inline-block;
  position: absolute;
}
.js-form-type-checkbox > input[type="checkbox"]:checked + label:before, .js-form-type-checkbox > input[type="radio"]:checked + label:before, .js-form-type-radio > input[type="checkbox"]:checked + label:before, .js-form-type-radio > input[type="radio"]:checked + label:before {
  background-color: #3d5da2;
  border-color: #3d5da2;
}

.js-form-type-checkbox input + label:after {
  width: 16px;
  height: 16px;
  left: 1px;
  top: 0;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #fff;
}
.js-form-type-checkbox > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
.js-form-type-checkbox > input[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.js-form-type-checkbox > input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.js-form-type-checkbox > input[type="checkbox"]:disabled + label:before {
  cursor: not-allowed;
}

.js-form-type-radio input + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.js-form-type-radio input + label:after {
  content: " ";
  width: 11px;
  height: 11px;
  left: 4px;
  top: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.js-form-type-radio > input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
.js-form-type-radio > input[type="radio"]:checked + label:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.js-form-type-radio > input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.js-form-type-radio > input[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}

.js-form-type-checkbox > input[type="checkbox"]:last-child, .js-form-type-radio > input[type="radio"]:last-child, .js-form-type-checkbox label + input[type="checkbox"], .js-form-type-radio label + input[type="radio"] {
  opacity: 1;
  position: static;
}

/**
 * Form Fields
*/
input[type="text"], input.form-text, select, textarea, input[type="email"] {
  border: 1px solid #ccc;
  background: #fff;
  color: #2c2c2c;
  height: 35px;
  padding: 6px 12px;
  font-size: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
  vertical-align: middle;
}
input[type="text"]:focus, input.form-text:focus, select:focus, textarea:focus, input[type="email"]:focus {
  border-color: rgba(0, 0, 0, 0.1);
  outline: 0 !important;
  background: #f0f0f0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea, select[multiple="multiple"] {
  height: auto;
  padding: 5px;
}

button, .form-submit, .button, input[type="button"] {
  background: #3d5da2;
  border: 1px solid #3d5da2;
  -moz-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -o-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, opacity 0.2s !important;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  color: #f5f5f5;
  min-width: 120px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 35px;
  line-height: 20px;
  text-align: center;
}
button:hover, .form-submit:hover, .button:hover, input[type="button"]:hover {
  background: #093fb1;
  border-color: #093fb1;
}

a.button {
  color: #f5f5f5;
}

details {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 20px;
  padding: 35px 20px 20px;
  position: relative;
}
details summary {
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}
details .form-item {
  padding: 15px 0;
  margin: 0;
}

.form-item {
  margin: 0 0 20px;
  position: relative;
}
.form-item .description {
  position: absolute;
  width: 260px;
  padding: 10px;
  border: 1px solid #3d5da2;
  background: #093fb1;
  color: #fff;
  right: 0px;
  bottom: 100%;
  display: none;
  margin-bottom: -10px;
  z-index: 3;
}
.form-item .description:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #093fb1;
  position: absolute;
  top: 100%;
  left: 20px;
}
.form-item:hover > .description {
  display: block;
}

.container-inline-date .form-item .description {
  width: 150px;
}

.description {
  font-size: 0.846em;
  line-height: 1.5;
  margin-top: 5px;
}

.form-item label.option {
  text-transform: none;
  font-weight: 400;
}

.form-type-radios .form-type-radio, .form-type-checkboxes .form-type-checkbox {
  margin-bottom: 8px;
}

input.fluid {
  width: 100%;
}

html.js fieldset.collapsed {
  border-width: 1px;
}

.tips {
  padding-left: 15px;
}

.filter-guidelines-item > h3:first-child {
  margin-bottom: 5px;
}

.views-exposed-form label, .form-item label {
  font-size: 11px;
  font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 10px 0 0;
  display: block;
}

/**
 * Views Exposed Filters
*/
.views-exposed-form .form-item {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.views-exposed-form .form-item input, .views-exposed-form .form-item select {
  width: 100%;
}
.views-exposed-form .form-actions {
  display: inline-block;
  vertical-align: middle;
}

/**
 * Date Field
*/
.container-inline-date {
  display: inline;
}
.container-inline-date .date-padding {
  float: none;
  display: inline-block;
  padding: 0;
}
.container-inline-date .date-padding label {
  display: block;
}
.container-inline-date .form-item .form-item {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/**
 * CK Editor Appearance
*/
.filter-wrapper {
  margin: 0 0 20px;
}

.cke_browser_webkit {
  overflow: auto;
}

.field-formatter-settings-edit {
  height: 30px;
  min-width: 0;
}

.form-textarea-wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.cke_dialog_body * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div.cke_skin_kama .cke_dialog_contents {
  margin-top: 32px;
}

span.cke_skin_kama {
  min-width: 100%;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cke_skin_kama table tbody tr:hover td {
  background: transparent;
}

/**
 * Date picker
*/
#ui-datepicker-div {
  padding: 16px 25px;
  -moz-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 200px;
  width: auto;
}

.ui-datepicker .ui-datepicker-header {
  background: none;
  border: 0;
  margin: 0 0 10px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  left: 0;
  top: 3px;
  background: none;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 28px;
}
.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before {
  content: '\f104';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: top;
  color: #3d5da2;
  height: 16px;
  margin: 5px 6px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-next {
  left: auto;
  right: 0;
}
.ui-datepicker .ui-datepicker-next:before {
  content: '\f105';
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 25px;
}
.ui-datepicker .ui-datepicker-title select {
  padding: 4px;
  height: auto;
  min-height: 0;
  margin: 0;
}
.ui-datepicker .ui-datepicker-calendar {
  border: 0;
}
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
  border: 0;
  font-size: 11px;
  padding: 0;
  background: none;
}
.ui-datepicker .ui-datepicker-calendar th {
  color: #3d5da2;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  border: 0;
  background: none;
  padding: 0;
  width: 26px;
  margin: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #ccc;
}

/**
 * Inline Form
*/
.container-inline input.fluid, div.image-style-new input.fluid {
  width: auto;
}
.container-inline div.form-item.form-type-select, div.image-style-new div.form-item.form-type-select {
  display: inline;
}
.container-inline div.form-item.form-type-select .chzn-container, div.image-style-new div.form-item.form-type-select .chzn-container {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 0;
  margin-top: 0;
}

/**
 * Module Filter
*/
html.js .module-filter-inputs-wrapper label.option {
  display: inline-block;
}

/**
 * Dependent dropdown
*/
.dependent-options {
  overflow: visible !important;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-repeat: no-repeat;
}
.js .dropbutton-wrapper.open .dropbutton-widget {
  background: #f5f5f5;
  padding: 5px 25px 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.js .dropbutton-wrapper.open .dropbutton-widget a {
  font-size: 1em;
}
.js .dropbutton-wrapper.open .dropbutton-widget input {
  color: #337ab7;
}
.js .dropbutton-toggle button {
  color: #337ab7;
}

/**
 * Table responsive
*/
#block-flexi-content .content {
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

/**
 * system modules details
*/
.system-modules details details {
  height: auto;
  background: transparent;
  padding: 20px;
}
.system-modules details table {
  border: none;
}
.system-modules details table tbody tr td {
  padding: 0 10px;
  margin: 0;
  border: none;
  vertical-align: middle;
}

/**
 * search result
*/
form.search-form details fieldset {
  border: none;
}

/**
 * Views
*/
.form-edit h1.unit-title {
  margin: 0;
}
.form-edit .views-display-top .tabs.secondary {
  list-style-type: none;
}
.form-edit .views-display-top .tabs.secondary li a {
  padding: 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.form-edit .views-display-top .tabs.secondary li ul.action-list input.form-submit {
  color: #21252d;
  text-align: left;
  height: auto;
}
.form-edit .dropbutton-toggle button {
  min-width: auto;
}

.view-preview-form .preview-section .form-item {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.view-preview-form .preview-section .form-item input, .view-preview-form .preview-section .form-item select {
  width: 100%;
}
.view-preview-form .preview-section .form-actions {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0;
}

.views-admin fieldset {
  border: none;
  padding: 0;
}
.views-admin fieldset legend {
  padding: 0 15px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px;
}
.views-admin #edit-show .form-item {
  width: 24%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 15px;
}
.views-admin #edit-show .form-item input, .views-admin #edit-show .form-item select {
  width: 100%;
}
.views-admin .admin-link button {
  background: transparent;
  min-width: auto;
  height: auto;
  border: none;
  color: #626262;
  padding: 0 10px;
  margin: 0;
}

/*
* Views popup dialog
*/
.views-ui-dialog .scroll {
  max-height: 400px;
}
.views-ui-dialog .ui-dialog-buttonset {
  padding: 10px 0 0;
}

/*
* UI auto complete
*/
.ui-autocomplete {
  background: #fff;
  border: 1px solid #ccc;
}
.ui-autocomplete .ui-menu-item {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.ui-autocomplete .ui-menu-item:hover {
  background: #eee;
}
.ui-autocomplete .ui-menu-item:last-child {
  border-bottom: 0;
}
.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
  color: #000;
}
.ui-autocomplete .ui-menu-item .ui-state-active, .ui-autocomplete .ui-menu-item .ui-state-focus {
  margin: 0;
}

@media only screen and (min-width: 64em) {
  .view-preview-form .preview-section .form-item {
    width: 28%;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .views-exposed-form .form-item {
    width: 22%;
    padding-right: 15px;
  }
  .views-exposed-form .form-item input, .views-exposed-form .form-item select {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  #block-flexi-content .content {
    overflow-x: inherit;
    overflow: visible;
  }
}
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.views-ui-dialog {
  padding: 10px;
  background: #fff;
}
.views-ui-dialog .ui-dialog-title {
  font-size: 1.3em;
  font-weight: 600;
}
.views-ui-dialog .ui-dialog-content {
  padding: 0;
  overflow: auto !important;
  max-height: 100% !important;
  height: 100% !important;
  min-height: 250px !important;
}
.views-ui-dialog .ui-dialog-titlebar-close {
  float: right;
  clear: both;
  text-indent: 0;
  font-size: 0;
  background: transparent;
  border: none;
  min-width: auto;
  margin: 0;
  padding-right: 20px;
  margin-top: -5px;
  outline: none;
}
.views-ui-dialog .ui-dialog-titlebar-close:before {
  content: '\f057';
  font: normal normal normal 26px/1 FontAwesome;
  color: #337ab7;
}

#header {
  position: fixed;
  height: 64px;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 3;
}

#site-name {
  color: #093fb1;
  font-size: 2em;
  line-height: 1.84615em;
}

#main {
  padding-top: 20px;
}

.search-link {
  color: #626262;
}

.head-ico {
  font-size: 1.6em;
  color: #424a5d;
  padding: 10px;
  margin-left: -20px;
  width: 65px;
  height: 63px;
  line-height: 42px;
  text-align: center;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.logo-wrp {
  margin-left: 50px;
  margin-right: 50px;
}

.logo-img {
  float: left;
  width: 100%;
}

#logo {
  margin: 5px auto 0;
  max-width: 190px;
  display: block;
}

.search-bar-lg {
  font-size: 1.231em;
}

@media only screen and (min-width: 1024px) {
  .logo-wrp {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-img {
    width: auto;
  }

  .head-ico {
    color: #fff;
    background-color: #424a5d;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  }
}
.search-block-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  visibility: hidden;
  transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
.search-block-form h2 {
  display: none;
}
.search-block-form .fa {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  right: 15px;
  top: 15px;
}
.search-block-form .content {
  padding: 50px 20px;
}
.search-block-form .form-submit, .search-block-form label {
  display: none;
}
.search-block-form input.form-search {
  background: none;
  height: auto;
  padding: 0;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 1.5em;
  line-height: 28px;
  width: 100%;
  outline: none;
}

.sch-act .page {
  z-index: 5;
  position: relative;
}
.sch-act .search-block-form {
  visibility: visible;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.sch-dis .search-bar {
  display: none;
}

.search-advanced {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .search-block-form input.form-text {
    font-size: 2em;
  }
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-weight: 600;
  font-size: 1.077em;
  margin: 12px 0 0;
}
.nav li {
  display: inline-block;
  padding: 0 2px;
}
.nav li a {
  display: block;
  padding: 8px;
}

.media-list-thumbnails li {
  position: relative;
}
.media-list-thumbnails li .form-type-checkbox {
  position: absolute;
  left: 5px;
  top: 5px;
}
