// Fonts import from google
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * Generic Components
*/
* {
	@include box-sizing(border-box);
}
body {
	color: $base_color;
	background: $site_bg;
}
a {
	color: $link_color;
	transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important;
	text-decoration: none;
	outline: 0;
}
a:focus, a:hover, a:active {
	color: $link_h_color;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1 {
	margin-top: 0;
}
ol, ul {
	padding-left: 15px;
}
dt {
	font-weight: 600;
	margin: 10px 0 0;
	&:first-child {
		margin-top: 0;
	}
}
dd {
	margin-left: 0;
}
.pge-wdt {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1700px;
	margin-left: auto;
	margin-right: auto;
}
.main-content, .region-sidebar-first, .region-sidebar-second {
	background: $sec_bg;
	padding: 10px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mn {
	margin: 0;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.mb {
	margin-bottom: 10px;
}
.ml {
	margin-left: 10px;
}
.mtb {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mlr {
	margin-left: 10px;
	margin-right: 10px;
}
.mc {
	margin: 10px;
}
.dmt {
	margin-top: 20px;
}
.dmr {
	margin-right: 20px;
}
.dmb {
	margin-bottom: 20px;
}
.dml {
	margin-left: 20px;
}
.dmlr {
	margin-left: 20px;
	margin-right: 20px;
}
.pn {
	padding: 0;
}
.pt {
	padding-top: 10px;
}
.pr {
	padding-right: 10px;
}
.pb {
	padding-bottom: 10px;
}
.pl {
	padding-left: 10px;
}
.ptb {
	padding-top: 10px;
	padding-bottom: 10px;
}
.plr {
	padding-left: 10px;
	padding-right: 10px;
}
.pc {
	padding: 10px;
}
.dpt {
	padding-top: 20px;
}
.dpr {
	padding-right: 20px;
}
.dpb {
	padding-bottom: 20px;
}
.dpl {
	padding-left: 20px;
}
.dplr {
	padding-left: 20px;
	padding-right: 20px;
}
.bt {
	border-top: 1px solid $sep-color;
}
.br {
	border-right: 1px solid $sep-color;
}
.bb {
	border-bottom: 1px solid $sep-color;
}
.bl {
	border-left: 1px solid $sep-color;
}
.hd {
	display: none;
}
.sw {
	display: block;
}
.am {
	text-align: center;
}

h1{
	margin: 0 0 10px;
}

//Toolbar menu oritation
.toolbar-horizontal, .toolbar-vertical {
	padding-top: 0 !important;
}

/**
 * Breadcrumb
*/
.breadcrumb {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.846em;
	ol{
    list-style-type: none;
    margin: 0;
    padding: 15px 0 10px;
    li{
      display: inline;
      padding: 0 5px 0 0;
      a{
        &:before {
          content: '\f101';
          display: inline-block;
          font: normal normal normal 12px/1 FontAwesome;
          position: relative;
          right: 5px;
        }
      }
      &:first-child a{
        &:before {
          display: none;
        }
      }
    }
  }
}


/**
 Tabs
*/
#block-flexi-local-tasks {
	margin: 0 0 15px;
	ul{
		border-bottom: 1px solid $sep-color;
		white-space: normal;
		margin: 0;
		padding: 0;
    list-style-type: none;
		li {
			padding: 0;
			border: 0;
      @include inline-block;
			a {
				@include inline-block;
				background: none;
				border: 0;
				padding: 15px 20px;
				margin: 0;
				text-transform: uppercase;
				font-family: 'Montserrat';
				color: rgba(98,98,98,0.7);
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					height: 0;
					background: $tabs_act;
					width: 100%;
					left: 0;
					@include transition-property(all);
					@include transition-timing-function(linear);
					@include transition-duration(0.1s);
				}
        &.is-active:before, a:hover:before {
          height: 3px;
          color: $taba_act_clr;
        }
			}
		}
	}
	ul {
		margin: 10px 0 0;
		li a {
			padding: 8px 20px;
			font-size: 11px;
		}
	}
}
div.vertical-tabs {
	border-color: $sep-color;
	ul.vertical-tabs-list {
		border-color: $sep-color;
		li {
			border-color: $sep-color;
			a:hover {
				outline: 0;
			}
		}
	}
  details {
    padding: 0 1em;
    .form-item{
      padding: 10px 0;
    }
  }
  .field--name-created {
    h4{
      margin: 0;
    }
    .form-item {
      display: inline-block;
      width: 20%;
      input {
        width: 100%;
        border: 1px solid #ccc;
        background: #fff;
        color: #2c2c2c;
        height: 35px;
        padding: 6px 12px;
      }
    }
  }
}

/**
 * Admin Listing
*/
.admin-list, .node-type-list {
	margin-top: 0;
	background: $sec_bg;
  list-style-type: none;
	li {
		margin: 0;
		padding: 10px;
    border-bottom: none;
    .label{
      font-weight: 600;
    }
    .description {
      color: $title_link_color;
      font-size: 1em;
      margin: 0;
    }
	}
}
.list-group {
  margin-top: 0;
  background: $sec_bg;
  dt {
    padding-top: 8px;
    padding-bottom: 0;
    font-weight: 600;
    &:first-child {
      border-top: 0;
    }
  }
  dd, dt{
    margin: 0;
    padding: 0 10px 8px;
  }
}



/**
 * site logo
*/

.site-logo {
	padding: 12px 0;
	.site-branding__logo, .site-branding__text {
		display: inline-block;
		vertical-align: middle;
	}
	.site-branding__name a{
		font-size: 1.4em;
		font-family: $fnt_montserrat;
		padding-left: 10px;
	}
}


/**
 * Pager
*/
.pager {
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
	list-style: none outside none;
	text-transform: uppercase;
	li {
		@include inline-block;
	}
}


/**
 * Action Links
*/
.action-links {
	margin: 0;
	padding: 12px 0;
	list-style: none outside none;
	li {
		display: inline;
		margin: 0 3px 0 0;
	}
}
.action-links, .compact-link {
	a {
		background: $btn_clr;
	  color: $sec_bg;
	  font-size: 11px;
	  font-weight: 600;
	  padding: 0 10px;
	  display: inline-block;
	  @include border-radius(2px);
    height: 32px;
    line-height: 32px;
	}
}
.title-wrapper {
	h1.title {
		float: left;
		margin-bottom: 10px;
	}
	.action-links {
		float: left;
		padding-left: 20px;
	}
}
.ctools-button {
	background: $sec_bg;
	ul {
		margin: 0;
		padding: 0;
	}
}
ul.links {
	padding-left: 0;
	li {
		@include inline-block;
		list-style: none outside none;
	}
}

/**
 * Overlay
*/
#overlay-titlebar {
	padding-left: 0;
}
#overlay-title {
	line-height: 1.231;
}
#overlay {
	.page {
		padding: 10px 0;
	}
	#header, #footer {
		display: none;
	}
	#main, .main-content {
		padding: 0;
		margin: 0;
	}
}

/**
 * Blocks
*/
.block {
	& > h2, .block-title {
		margin-top: 0;
	}
}
/**
 * dropbutton toggle
*/
.dropbutton-toggle button:hover, .dropbutton-toggle button:focus {
  background: transparent;
}
.dropbutton-toggle button {
    color: #888;
}


/**
 * edit summary links
*/
.link-edit-summary {
  background: transparent;
  min-width: auto;
  color: $link_color;
  border: none;
  font-size: 11px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  height: auto;
  &:hover {
    background: transparent;
    color: $link_h_color;
  }
}


/**
 * contextual links
*/
.contextual {
  .trigger {
    min-width: auto;
    border-radius: 5px;
  }
  &.open .trigger {
    border-radius: 5px 5px 0 0;
  }
}

/**
 * actions block
*/

.block-local-actions-block {
  nav {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
}

/**
 * messages
*/
.messages__wrapper {
 	font-family: $fnt_montserrat;
	font-size: 1em;
	margin: 0 0 20px;
	padding: 0 0 5px 8px;
}
.messages{
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.messages--error, .messages--status, .messages--warning {
  background:  $error_msg;
  color: $error_clr;
  box-shadow: -8px 0 0 $error_shadw;
  border-color: $error_br_clr;
  position: relative;
	margin: 0 8px 20px;
  &:before {
    content: '\f057';
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
  }
}
.messages--status {
  color: $stats_clr;
  background:  $stats_msg;
  border-color: $stats_br_clr;
  box-shadow: -8px 0 0 $stats_shadw_clr;
  &:before {
    content: '\f00c';
  }
}
.messages--warning {
	background-color: #fdf8ed;
	border-color: #f4daa6;
	color: #734c00;
	box-shadow: -8px 0 0 #e09600;
	&:before {
    content: '\f071';
	}
}
.messages + .messages {
    margin-top: 1.538em;
}
.highlighted + #main {
  padding-top: 10px;
}


/**
 * Tabledrag icons
*/
.touchevents {
  .draggable td {
    padding: 10px 8px 0;
  }
  a.tabledrag-handle {
    height: auto;
    .handle {
      background: url('../images/move.svg') no-repeat;
      background-size: auto;
      margin: 0 0.5em 0
    }
  }
}

// icons
.path-admin{
	.pg-tit-icons {
		&:before {
			content: '\f15b';
			display: inline-block;
			font: normal normal normal 26px/1 FontAwesome;
			color: $nav_bg;
			padding-right: 10px;
		}
	}
	.icon_Structure:before {
		content: '\f0f7';
	}
	.icon_Appearance:before{
		content: '\f1fc';
	}
	.icon_Extend:before{
		content: '\f1e6';
	}
	.icon_Configuration:before, .icon_Account:before{
		content: '\f013';
	}
	.icon_People:before {
		content: '\f007';
	}
	.icon_Reports:before {
		content: '\f200';
	}
	.icon_Help:before {
		content: '\f059';
	}
	.icon_Block:before, .icon_Display:before, .icon_Form:before{
		content: '\f00a';
	}
	.icon_Comment:before, .icon_Comments:before{
		content: '\f086';
	}
	.icon_Contact:before {
		content: '\f2b9';
	}
	.icon_Menus:before{
		content: '\f03a';
	}
	.icon_Taxonomy:before {
		content: '\f02c';
	}
	.icon_Views:before{
		content: '\f022';
	}
	.icon_System:before{
		content: '\f108';
	}
	.icon_Development:before {
		content: '\f014';
	}
	.icon_Search:before{
		content: '\f002';
	}
	.icon_Regional:before {
		content: '\f1ab';
	}
}

/*
* confirmation messages
*/

.confirmation {
	p{
		margin: 5px 0;
	}
	ul {
		margin: 10px 0;
		background: rgba(61, 93, 162, 0.15);
    padding: 10px 25px;
		@include border-radius(3px);
	}
	.form-actions{
		margin: 20px 0 0;
	}
}

@media only screen and (min-width: 480px) {
	.sm-hd {
		display: none;
	}
	.sm-sw {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.md-hd {
		display: none;
	}
	.md-sw {
		display: block;
	}
	.pge-wdt {
		padding-left: 20px;
		padding-right: 20px;
	}
	.main-content, .region-sidebar-first, .region-sidebar-second {
		padding: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.lg-hd {
		display: none;
	}
	.lg-sw {
		display: block;
	}
	.toolbar-fixed {
		.site-logo {
			margin-left: 20px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.xl-hd {
		display: none;
	}
	.xl-sw {
		display: block;
	}
}
