/**
 * Form Fields
*/
input[type="text"], input.form-text, select, textarea, input[type="email"]{
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	color: $inpt_clr;
	height: 35px;
	padding: 6px 12px;
	font-size: 100%;
	@include border-radius(2px);
	max-width: 100%;
	vertical-align: middle;
	&:focus {
		border-color: rgba(0,0,0,0.1);
		outline: 0 !important;
		background: $inpt_h_bg;
		@include box-shadow(none);
	}
}
textarea, select[multiple="multiple"] {
	height: auto;
	padding: 5px;
}
button, .form-submit, .button, input[type="button"] {
	background: $link_sec_color;
	border: 1px solid $link_sec_color;
	@include transition(color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important);
	color: $btn_f_clr;
	min-width: 120px;
	margin-right: 5px;
	@include inline-block;
	padding: 6px 12px;
	white-space: nowrap;
	cursor: pointer;
	@include user-select(none);
	@include border-radius(4px);
	height: 35px;
	line-height: 20px;
	text-align: center;
	&:hover {
		background: $link_sech_color;
		border-color: $link_sech_color;
	}
}
a.button {
	color: $btn_f_clr;
}
details {
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	margin: 0 0 20px;
	padding: 35px 20px 20px;
	position: relative;
	summary {
		font-family: $fnt_montserrat;
		font-weight: 600;
		text-transform: uppercase;
		position: absolute;
		top: 10px;
		left: 20px;
		z-index: 1;
    cursor: pointer;
	}
	.form-item  {
		padding: 15px 0;
    margin: 0;
	}
}
.form-item {
	margin: 0 0 20px;
	position: relative;
	.description {
		position: absolute;
		width: 260px;
		padding: 10px;
		border: 1px solid $desc_sep;
		background: $desc_bg;
		color: $inpt_bg;
		right: 0px;
		bottom: 100%;
		display: none;
		margin-bottom: -10px;
		z-index: 3;
		&:after {
			content: '';
			display: block;
			height: 0;
			width: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $desc_bg;
			position: absolute;
			top: 100%;
			left: 20px;
		}
	}
	&:hover > .description {
		display: block;
	}
}
.container-inline-date .form-item .description {
	width: 150px;
}
.description {
	font-size: 0.846em;
	line-height: 1.5;
	margin-top: 5px;
}
.form-item label.option {
	text-transform: none;
	font-weight: 400;
}
.form-type-radios .form-type-radio, .form-type-checkboxes .form-type-checkbox {
	margin-bottom: 8px;
}
input.fluid {
	width: 100%;
}
html.js fieldset.collapsed {
	border-width: 1px;
}
.tips {
	padding-left: 15px;
}
.filter-guidelines-item > h3:first-child {
	margin-bottom: 5px;
}
.views-exposed-form label, .form-item label {
	font-size: 11px;
	font-family: $fnt_montserrat;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
	margin: 0 10px 0 0;
	display: block;
}

/**
 * Views Exposed Filters
*/
.views-exposed-form {
  .form-item{
    display: inline-block;
    vertical-align: middle;
		width: 100%;
    input, select{
      width: 100%;
    }
  }
  .form-actions {
    display: inline-block;
    vertical-align: middle;
  }
}

/**
 * Date Field
*/
.container-inline-date {
	display: inline;
	.date-padding {
		float: none;
		display: inline-block;
		padding: 0;
		label {
			display: block
		}
	}
	.form-item .form-item {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
}

/**
 * CK Editor Appearance
*/
.filter-wrapper {
	margin: 0 0 20px;
}
.cke_browser_webkit {
	overflow: auto;
}
.field-formatter-settings-edit {
	height: 30px;
	min-width: 0;
}
.form-textarea-wrapper * {
	@include box-sizing(content-box);
}
.cke_dialog_body * {
	@include box-sizing(content-box);
}
div.cke_skin_kama .cke_dialog_contents {
	margin-top: 32px;
}
span.cke_skin_kama {
	min-width: 100%;
	max-width: 100%;
	@include box-sizing(border-box);
}
.cke_skin_kama table tbody tr:hover td {
	background: transparent;
}


/**
 * Date picker
*/
#ui-datepicker-div {
	padding: 16px 25px;
	@include box-shadow(0px 0px 5px rgba(98,98,98,0.2));
	border: 1px solid rgba(0,0,0,0.2);
	background: $inpt_bg;
	min-width: 200px;
	width: auto;
}
.ui-datepicker {
	.ui-datepicker-header {
		background: none;
		border: 0;
		margin: 0 0 10px;
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		left: 0;
		top: 3px;
		background: none;
		border: 0;
		cursor: pointer;
		width: 20px;
		height: 28px;
		&:before {
			content: '\f104';
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 16px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			vertical-align: top;
			color: $btn_clr;
			height: 16px;
			margin: 5px 6px;
		}
		span {
			display: none;
		}
	}
	.ui-datepicker-next {
		left: auto;
		right: 0;
		&:before {
			content: '\f105';
		}
	}
	.ui-datepicker-title {
		margin: 0 25px;
		select {
			padding: 4px;
			height: auto;
			min-height: 0;
			margin: 0;
		}
	}
	.ui-datepicker-calendar {
		border: 0;
		th, td {
			border: 0;
			font-size: 11px;
			padding: 0;
			background: none;
		}
		th {
			color: $btn_clr;
		}
		.ui-state-default {
			border: 0;
			background: none;
			padding: 0;
			width: 26px;
			margin: 1px;
			@include border-radius(2px);
			text-align: center;
			&:hover {
				background: $inpt_sep;
			}
		}
	}
}

/**
 * Inline Form
*/
.container-inline, div.image-style-new {
	input.fluid {
		width: auto;
	}
	div.form-item.form-type-select {
		display: inline;
		.chzn-container {
			@include inline-block;
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

/**
 * Module Filter
*/
html.js .module-filter-inputs-wrapper label.option {
	display: inline-block;
}

/**
 * Dependent dropdown
*/
.dependent-options {
	overflow: visible !important;
}
.js {
  input.form-autocomplete.ui-autocomplete-loading {
    background-repeat: no-repeat;
  }
  .dropbutton-wrapper{
    &.open {
      .dropbutton-widget {
        background: $site_bg;
        padding: 5px 25px 5px 15px;
        @include border-radius(5px);
        a{
          font-size:1em;
        }
				input {
					color: $link_color;
				}
      }
    }
  }
	.dropbutton-toggle button {
		color: $link_color;
	}
}

/**
 * Table responsive
*/
#block-flexi-content {
  .content {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;

  }
}

/**
 * system modules details
*/

.system-modules {
	details {
		details {
			height: auto;
			background: transparent;
			padding: 20px;
		}
		table {
			border: none;
			tbody tr td {
				padding: 0 10px;
				margin: 0;
				border: none;
				vertical-align: middle;
			}
		}
	}
}

/**
 * search result
*/
form.search-form {
  details {
    fieldset {
      border: none;
    }
  }
}

/**
 * Views
*/
.form-edit {
  h1.unit-title {
    margin: 0;
  }
	.views-display-top .tabs.secondary {
    list-style-type: none;
    li {
      a{
        padding: 5px 10px;
        @include border-radius(5px);
      }
      ul.action-list{
        input.form-submit {
          color: $nav_d_dwn;
          text-align: left;
          height: auto;
        }
      }
    }
  }
  .dropbutton-toggle button {
    min-width: auto;
  }
}
.view-preview-form {
  .preview-section {
    .form-item {
      width: 100%;
      @include inline-block;
      input, select {
        width: 100%;
      }
    }
    .form-actions{
      @include inline-block;
      margin: 0;
    }
  }
}

.views-admin {
  fieldset {
    border:none;
    padding: 0;
    legend {
      padding: 0 15px;
      font-size: 1.2em;
      font-weight: 600;
      padding: 0;
      margin: 0 0 20px;
    }
  }
  #edit-show {
    .form-item {
      width: 24%;
      @include inline-block;
      padding-right: 15px;
      input, select{
        width: 100%;
      }
    }
  }
  .admin-link button{
    background: transparent;
    min-width: auto;
    height: auto;
    border: none;
    color: $base_color;
    padding: 0 10px;
    margin: 0;
  }
}

/*
* Views popup dialog
*/
.views-ui-dialog {
	.scroll {
		max-height: 400px;
	}
	.ui-dialog-buttonset {
		padding: 10px 0 0;
	}
}

/*
* UI auto complete
*/
.ui-autocomplete {
	background: #fff;
	border: 1px solid #ccc;
	.ui-menu-item {
		border-bottom: 1px solid #ccc;
		padding: 5px;
		&:hover {
			background: #eee;
		}
		&:last-child {
			border-bottom: 0;
		}
		.ui-menu-item-wrapper {
			color: #000;
		}
		.ui-state-active, .ui-state-focus {
			margin: 0;
		}
	}
}

@media only screen and (min-width: 64em) {
  .view-preview-form {
    .preview-section {
      .form-item {
        width: 28%;
        padding-right: 15px;
      }
    }
  }
}

@media only screen and (min-width: 75em) {
	.views-exposed-form {
		.form-item{
			width: 22%;
			padding-right: 15px;
			input, select{
				width: 100%;
			}
		}
	}
}
@media only screen and (min-width: 1200px) {
  #block-flexi-content {
    .content {
      overflow-x: inherit;
      overflow: visible;
    }
  }
}

.ui-widget-overlay {
 background: rgba(0, 0, 0, 0.7);
}
.views-ui-dialog {
 padding: 10px;
 background: $sec_bg;
 .ui-dialog-title {
   font-size: 1.3em;
   font-weight: 600;
 }
 .ui-dialog-content {
   padding: 0;
   overflow: auto !important;
   max-height: 100% !important;
   height: 100% !important;
   min-height: 250px !important;
 }
 .ui-dialog-titlebar-close {
   float: right;
   clear: both;
   text-indent: 0;
   font-size: 0;
   background: transparent;
   border: none;
   min-width: auto;
   margin: 0;
   padding-right: 20px;
   margin-top: -5px;
   outline: none;
   &:before {
     content: '\f057';
     font: normal normal normal 26px/1 FontAwesome;
     color: $link_color;
   }
 }
}
