#header {
	position: fixed;
	height: 64px;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 1px solid $sep_color;
	background: $sec_bg;
	z-index: 3;
}
#site-name {
	color: $link_sech_color;
	@include normalize-font-size($h1-font-size);
	@if $normalize-vertical-rhythm {
		@include normalize-line-height($h1-font-size);
	}
}
#main {
	padding-top: 20px;
}

.search-link {
	color: $base_color;
}
.head-ico {
	font-size: 1.6em;
	color: $nav_bg;
	padding: 10px;
	margin-left: -20px;
	width: 65px;
	height: 63px;
	line-height: 42px;
  text-align: center;
  @include transition-property(transform);
  @include transition-duration(.2s);
  @include transition-timing-function(ease);
}

.logo-wrp {
	margin-left: 50px;
	margin-right: 50px;
}
.logo-img {
	float: left;
	width: 100%;
}
#logo {
	margin: 5px auto 0;
	max-width: 190px;
	display: block;
}
.search-bar-lg {
	font-size: 1.231em;
}

@media only screen and (min-width: 1024px) {
	.logo-wrp {
		margin-left: 0;
		margin-right: 0;
	}
	.logo-img {
		width: auto;
	}
	.head-ico { 
		color: $sec_bg;
		background-color: $nav_bg;
		@include transition-property(background-color);
		@include transition-duration(400ms);
		@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
	}
}

