.search-block-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0, 0, 0, .8);
	z-index: 4;
	visibility: hidden;
	transform: translateY(-500px);
	@include translateY(-500px);
	@include transition-property(transform);
	@include transition-duration(0.3s);
	@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
	h2{
		display: none;
	}
	.fa {
		position: absolute;
		cursor: pointer;
		font-size: 24px;
		color: $sec_bg;
		right: 15px;
		top: 15px;
	}
	.content {
		padding: 50px 20px;
	}
	.form-submit, label {
		display: none;
	}
	input.form-search {
		background: none;
		height: auto;
		padding: 0;
		color: $inpt_bg;
		border: 0;
		border-bottom: 1px solid $sep_color;
		padding: 8px 0;
		font-size: 1.5em;
		line-height:28px;
		width: 100%;
		outline: none;
	}
}

.sch-act {
	.page {
		z-index: 5;
		position: relative;
	}
	.search-block-form {
		visibility: visible;
		@include translateY(0);
	}
}
.sch-dis {
	.search-bar {
		display: none;
	}
}
.search-advanced {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.search-block-form input.form-text {
		font-size: 2em;
	}
}

