@import "compass/css3";

@import "init";

.page-wrap {
	margin: 63px 0 0 0;
  @include transition-property(transform);
	@include transition-duration(400ms);
	@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
}
.toolbar-fixed {
	.page-wrap {
		margin: 63px 0 0 65px;
	}
}
#toolbar-administration {
	position: fixed;
	left: -210px;
	top: 0;
	bottom: 0;
	width: 275px;
	overflow: hidden;
	z-index: 4;
	margin: 63px 0 0;
	-webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
	background-repeat: no-repeat;
  @include transition-property(left);
	@include transition-duration(400ms);
	@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
	.toolbar-tray-vertical{
   margin-top: 0px !important;
  }
	#toolbar-item-devel-tray {
		display: none;
 }
 &:hover {
  left: 0;;
 }
}
.mnu_hover {
  .menu-ico {
    .fa-bars:before {
      content: '\f00d';
      font: normal normal normal 22px/40px FontAwesome;
    }
  }
}
.home-toolbar-tab, .toolbar-item, .toolbar-toggle-orientation, .edit-shortcuts, #toolbar-item-shortcuts-tray  {
  display: none !important;
}
#toolbar-bar {
	overflow: hidden;
	height: 100%;
	position: relative;
	padding: 20px 0 40px;
	background: $nav_in_bg;
	width: 275px;
	.toolbar-menu {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			list-style: none outside none;
			position: relative;
			a, span {
				padding: 2px 20px 2px 30px;
				margin: 0 0 6px;
				display: block;
				line-height: 18px;
				color: $sec_bg;
				position: relative;
				cursor: pointer;
				top: auto;
				&:hover, &:hover:before {
					color: $sep_color;
				}
			}
      .toolbar-icon {
        font-size: 14px;
        padding: 11px 90px 11px 30px;
        &:before {
          content: "\f015";
          display: block;
          font: normal normal normal 14px/40px FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          right: 16px;
          top: 0;
          color: $sec_bg;
          background: $nav_bg;
          height: 40px;
          width: 40px;
          text-align: center;
          @include transition-property(transform);
          @include transition-duration(0.4s);
          @include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
        }
      }
      .toolbar-handle {
        background: transparent;
        min-width: auto;
        padding: 0;
        top: 0;
        right: 80px;
        border: none;
        outline: none;
        position: absolute;
				padding: 5px 10px;
        &:before {
          display: none;
        }
        &:after {
          content: '\f105';
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          color: #fff;
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          -webkit-transform: rotate(0);
          transform: rotate(0);
          @include rotate(0deg);
          @include transition-property(transform);
          @include transition-duration(.2s);
          @include transition-timing-function(ease);
        }
        span{
          display: none;
        }
      }
      .toolbar-menu {
        background: $nav_d_dwn;
				max-height: 0;
				overflow: hidden;
				display: block;
				padding: 0 0 0 25px;
        @include transition-property(max-height);
        @include transition-duration(.3s);
        @include transition-timing-function(ease);		
        li {
          padding: 12px 0;
          .toolbar-icon {
            padding: 0 62px 0 16px;
            &:before {
              content: '';
							background: $nav_d_dwn;
            }
          }
          .toolbar-handle {
            padding: 5px 10px;
						right: 20px;
						&:after {
							-moz-transform: rotate(0);
							-ms-transform: rotate(0);
							-webkit-transform: rotate(0);
							transform: rotate(0);
							@include rotate(0deg);
							@include transition-property(transform);
							@include transition-duration(.2s);
							@include transition-timing-function(ease);
						}
          }
					.toolbar-menu {
						max-height: 0;
						overflow: hidden;
						li {
							.toolbar-icon{
								padding: 0 80px 0 0;
							}
						}
					}
        }
      }
      &.open {
				.toolbar-menu {
					max-height: 700px;
					li{
						&.open{
							.toolbar-menu {
								max-height: 700px;
							}
							.toolbar-handle {
								&:after {
									@include rotate(-90deg);
								}
							}
						}
					}
				}
        .toolbar-handle {
          &:after {
            @include rotate(-90deg);
          }
        }
      }
			.admin-menu-dashboard > a:before {
				content: '\f0e4';
			}
			.toolbar-icon-system-admin-content:before {
				content: '\f15b';
			}
			.toolbar-icon-system-admin-structure:before {
				content: '\f0f7';
			}
			.toolbar-icon-system-themes-page:before {
				content: '\f1fc';
			}
			.toolbar-icon-entity-user-collection:before {
				content: '\f007';
			}
			.toolbar-icon-system-modules-list:before {
				content: '\f1e6';
			}
			.toolbar-icon-system-admin-config:before {
				content: '\f013';
			}
			.toolbar-icon-system-admin-reports:before {
				content: '\f200';
			}
			.toolbar-icon-help-main:before {
				content: '\f059';
			}
			.logout > a::before {
				content: '\f011';
			}
		}
	}
	.logout > a{
		padding: 0;
    top: 10px;
    right: -30px;
		&:before {
			content: '\f011';
			display: block;
			font: normal normal normal 14px/40px FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			right: -100px;
			top: 0px;
			color: $cls_clr;
			background: $sec_bg;
			height: 40px;
			width: 40px;
			text-align: center;
			@include transition-property(transform);
			@include transition-duration(0.4s);
			@include transition-timing-function(cubic-bezier(0.05, 0.74, 0.27, 0.99));
		}
	}
	.toolbar-icon-user {
		display: inline-block !important;
		font-weight: 600;
		padding-right: 0;
	}
	#toolbar-item-user-tray {
		display: inline-block;
		.account, .account-edit {
			display: none;
		}
	}
	.tour-toolbar-tab + .toolbar-tab {
		position: fixed;
		bottom: 0;
		width: 275px;
		padding: 10px 0 10px 22px;
		background:  $sec_bg;
		a{
			color: $link_sec_color;
			padding: 10px 0 0 10px;
		}
	}
	.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical {
		margin: 12px 0 30px 0;
	}
}


.path-admin, .toolbar-fixed {
	.menu-ico{
		display: block;
	}
}
.toolbar-horizontal{
	#toolbar-bar .toolbar-menu {
		li{
			background: transparent;
			border: none;
			a:focus {
				background: transparent;
			}
			&.menu-item--expanded {
				&:after {
          content: '\f105';
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          color: #fff;
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          -webkit-transform: rotate(0);
          transform: rotate(0);
          @include rotate(0deg);
          @include transition-property(transform);
          @include transition-duration(.2s);
					@include transition-timing-function(ease);
					position: absolute;
					top: 10px;
					right: 80px;
        }
			}
			.toolbar-icon-admin-toolbar-tools-help {
				text-indent: 1px;
			}
			.toolbar-icon-admin-toolbar-tools-help:before {
				padding: 0;
			}
			.toolbar-menu {
				background: #333;
				padding: 0;
				box-shadow: none;
				width: auto;
				visibility: hidden;
				opacity: 0;
				overflow: visible;
				float: none;
				li {
					padding: 5px 20px;
					a{
						&.toolbar-icon {
							padding-right: 0;
						}
						&:before {
							display: none;
						}
					}
					ul {
						max-height: 0;
						visibility: hidden;
						opacity: 0;
					}
				}

			}
			&.menu-expand {
				&:after {
					@include rotate(90deg);
				}
				ul{
					max-height: none;
					position: relative;
					visibility: visible;
					opacity: 1;
					li ul{
						max-height: 0;
						visibility: hidden;
						opacity: 0;
					}
				}
				.menu-expand {
					ul{
						max-height: none;
						position: relative;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
	
}

.toolbar-icon-admin-toolbar-tools-help {
	text-indent: 1px;
	&::before {
		padding: 0;
	}
}
.toolbar-tray-horizontal {
	li.menu-item--expanded.hover-intent {
		ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul {
			left: auto;
		}
	}
}

@media only screen and (max-width: 1023px) {
	#toolbar-administration {
		left: -278px;
	}
	.toolbar-fixed {
		.page-wrap{
			margin: 63px 0 0 0;
		}
	}
	.menu-open {
		&.toolbar-fixed  {
				height: 100%;
				overflow: hidden;
		}
		#toolbar-administration {
			left: 0;
		}
	}
	.search-bar.head-ico {
		padding: 10px 0;
		text-align: right;
		font-size: 1.5em;
	}
	.tabledrag-toggle-weight-wrapper {
		display: none;
	}
}
