
@import "init";

.views-ui-display-tab-actions .ctools-button-processed li a, .views-ui-display-tab-actions .ctools-button-processed input, .views-displays .secondary .action-list input.form-submit {
	height: auto;
	color: $link_color;
	outline: none;
	min-width: auto;
}
.views-displays .secondary .open > a:hover {
	color: $link_h_color;
}

.views-displays {
	.tabs.secondary  {
    list-style-type: none;
    li{
      padding: 5px 20px;
    }
  }
}

/**
 * system block place
*/
.flexi {
	.ui-dialog-titlebar { 
		background: #3d5da2;
		color: #f5f5f5;
		font-weight: bold;
		padding: 5px 10px;
	}
	.ui-dialog-title {
		display: inline-block;
		margin-top: 5px;
	}
	.ui-button-icon-only {
		border: 1px solid #f5f5f5;
		float: right;
		text-indent: 0;
	}
	.ui-dialog .ui-dialog-content {
		background: #fff;
		overflow: auto;
		padding: 1em;
		position: static;
		max-height: 250px !important;
	}
}