.page-wrap {
  margin: 63px 0 0 0;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}

.toolbar-fixed .page-wrap {
  margin: 63px 0 0 65px;
}

#toolbar-administration {
  position: fixed;
  left: -210px;
  top: 0;
  bottom: 0;
  width: 275px;
  overflow: hidden;
  z-index: 4;
  margin: 63px 0 0;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  background-repeat: no-repeat;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
#toolbar-administration .toolbar-tray-vertical {
  margin-top: 0px !important;
}
#toolbar-administration #toolbar-item-devel-tray {
  display: none;
}
#toolbar-administration:hover {
  left: 0;
}

.mnu_hover .menu-ico .fa-bars:before {
  content: '\f00d';
  font: normal normal normal 22px/40px FontAwesome;
}

.home-toolbar-tab, .toolbar-item, .toolbar-toggle-orientation, .edit-shortcuts, #toolbar-item-shortcuts-tray {
  display: none !important;
}

#toolbar-bar {
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 20px 0 40px;
  background: #424a5d;
  width: 275px;
}
#toolbar-bar .toolbar-menu {
  margin: 0;
  padding: 0;
}
#toolbar-bar .toolbar-menu li {
  padding: 0;
  list-style: none outside none;
  position: relative;
}
#toolbar-bar .toolbar-menu li a, #toolbar-bar .toolbar-menu li span {
  padding: 2px 20px 2px 30px;
  margin: 0 0 6px;
  display: block;
  line-height: 18px;
  color: #fff;
  position: relative;
  cursor: pointer;
  top: auto;
}
#toolbar-bar .toolbar-menu li a:hover, #toolbar-bar .toolbar-menu li a:hover:before, #toolbar-bar .toolbar-menu li span:hover, #toolbar-bar .toolbar-menu li span:hover:before {
  color: #ccc;
}
#toolbar-bar .toolbar-menu li .toolbar-icon {
  font-size: 14px;
  padding: 11px 90px 11px 30px;
}
#toolbar-bar .toolbar-menu li .toolbar-icon:before {
  content: "\f015";
  display: block;
  font: normal normal normal 14px/40px FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 16px;
  top: 0;
  color: #fff;
  background: #424a5d;
  height: 40px;
  width: 40px;
  text-align: center;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
#toolbar-bar .toolbar-menu li .toolbar-handle {
  background: transparent;
  min-width: auto;
  padding: 0;
  top: 0;
  right: 80px;
  border: none;
  outline: none;
  position: absolute;
  padding: 5px 10px;
}
#toolbar-bar .toolbar-menu li .toolbar-handle:before {
  display: none;
}
#toolbar-bar .toolbar-menu li .toolbar-handle:after {
  content: '\f105';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#toolbar-bar .toolbar-menu li .toolbar-handle span {
  display: none;
}
#toolbar-bar .toolbar-menu li .toolbar-menu {
  background: #21252d;
  max-height: 0;
  overflow: hidden;
  display: block;
  padding: 0 0 0 25px;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li {
  padding: 12px 0;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-icon {
  padding: 0 62px 0 16px;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-icon:before {
  content: '';
  background: #21252d;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-handle {
  padding: 5px 10px;
  right: 20px;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-handle:after {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-menu {
  max-height: 0;
  overflow: hidden;
}
#toolbar-bar .toolbar-menu li .toolbar-menu li .toolbar-menu li .toolbar-icon {
  padding: 0 80px 0 0;
}
#toolbar-bar .toolbar-menu li.open .toolbar-menu {
  max-height: 700px;
}
#toolbar-bar .toolbar-menu li.open .toolbar-menu li.open .toolbar-menu {
  max-height: 700px;
}
#toolbar-bar .toolbar-menu li.open .toolbar-menu li.open .toolbar-handle:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#toolbar-bar .toolbar-menu li.open .toolbar-handle:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#toolbar-bar .toolbar-menu li .admin-menu-dashboard > a:before {
  content: '\f0e4';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-admin-content:before {
  content: '\f15b';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-admin-structure:before {
  content: '\f0f7';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-themes-page:before {
  content: '\f1fc';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-entity-user-collection:before {
  content: '\f007';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-modules-list:before {
  content: '\f1e6';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-admin-config:before {
  content: '\f013';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-system-admin-reports:before {
  content: '\f200';
}
#toolbar-bar .toolbar-menu li .toolbar-icon-help-main:before {
  content: '\f059';
}
#toolbar-bar .toolbar-menu li .logout > a::before {
  content: '\f011';
}
#toolbar-bar .logout > a {
  padding: 0;
  top: 10px;
  right: -30px;
}
#toolbar-bar .logout > a:before {
  content: '\f011';
  display: block;
  font: normal normal normal 14px/40px FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: -100px;
  top: 0px;
  color: #000;
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition-timing-function: cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
#toolbar-bar .toolbar-icon-user {
  display: inline-block !important;
  font-weight: 600;
  padding-right: 0;
}
#toolbar-bar #toolbar-item-user-tray {
  display: inline-block;
}
#toolbar-bar #toolbar-item-user-tray .account, #toolbar-bar #toolbar-item-user-tray .account-edit {
  display: none;
}
#toolbar-bar .tour-toolbar-tab + .toolbar-tab {
  position: fixed;
  bottom: 0;
  width: 275px;
  padding: 10px 0 10px 22px;
  background: #fff;
}
#toolbar-bar .tour-toolbar-tab + .toolbar-tab a {
  color: #3d5da2;
  padding: 10px 0 0 10px;
}
#toolbar-bar .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  margin: 12px 0 30px 0;
}

.path-admin .menu-ico, .toolbar-fixed .menu-ico {
  display: block;
}

.toolbar-horizontal #toolbar-bar .toolbar-menu li {
  background: transparent;
  border: none;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li a:focus {
  background: transparent;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li.menu-item--expanded:after {
  content: '\f105';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  top: 10px;
  right: 80px;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-icon-admin-toolbar-tools-help {
  text-indent: 1px;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-icon-admin-toolbar-tools-help:before {
  padding: 0;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-menu {
  background: #333;
  padding: 0;
  box-shadow: none;
  width: auto;
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  float: none;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-menu li {
  padding: 5px 20px;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-menu li a.toolbar-icon {
  padding-right: 0;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-menu li a:before {
  display: none;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li .toolbar-menu li ul {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li.menu-expand:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li.menu-expand ul {
  max-height: none;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li.menu-expand ul li ul {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}
.toolbar-horizontal #toolbar-bar .toolbar-menu li.menu-expand .menu-expand ul {
  max-height: none;
  position: relative;
  visibility: visible;
  opacity: 1;
}

.toolbar-icon-admin-toolbar-tools-help {
  text-indent: 1px;
}
.toolbar-icon-admin-toolbar-tools-help::before {
  padding: 0;
}

.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul, .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul, .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul, .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  left: auto;
}

@media only screen and (max-width: 1023px) {
  #toolbar-administration {
    left: -278px;
  }

  .toolbar-fixed .page-wrap {
    margin: 63px 0 0 0;
  }

  .menu-open.toolbar-fixed {
    height: 100%;
    overflow: hidden;
  }
  .menu-open #toolbar-administration {
    left: 0;
  }

  .search-bar.head-ico {
    padding: 10px 0;
    text-align: right;
    font-size: 1.5em;
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}
