.form-type-select .chzn-container {
  margin: 0;
}

.chzn-container-multi .chzn-choices, .chzn-container-single .chzn-single {
  border: 1px solid #ccc;
  background: #fff;
  color: #2c2c2c;
  height: 35px;
  padding: 9px 12px;
  font-size: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
  vertical-align: middle;
}
.chzn-container-multi .chzn-choices:focus, .chzn-container-single .chzn-single:focus {
  border-color: #ccc;
  outline: 0 !important;
  background: #f0f0f0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chzn-container-multi .chzn-choices, .chzn-container-single .chzn-single {
  min-height: 35px;
}

.chzn-container-multi .chzn-choices .search-field .default {
  padding-top: 0;
  padding-bottom: 0;
}

.chzn-container-single .chzn-single {
  padding: 5px 12px;
}

.chzn-container-multi .chzn-choices {
  padding: 1px 0;
  height: auto;
}

.chzn-container-active .chzn-choices, .chzn-container-active .chzn-single, .chzn-container-active.chzn-with-drop .chzn-single {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  background: #f0f0f0;
}

.chzn-container-multi .chzn-choices .search-field input {
  min-height: 15px;
}

.chzn-container-single .chzn-single div b {
  background-position: 0 7px;
}

.chzn-container-active.chzn-with-drop .chzn-single div b {
  background-position: -18px 7px;
}

.chzn-container .chzn-drop, .chzn-container-single .chzn-drop {
  border-color: rgba(0, 0, 0, 0.1);
}

.chzn-container-multi .chzn-choices .search-choice {
  background: #48b0f7;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  border: 0;
  padding: 6px 20px 6px 9px;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  background: none;
  top: 7px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 11px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: '\f00d';
  color: #fff;
}

div.chzn-container .chzn-search input {
  background: #fff !important;
}
