.region-sidebar-first, .main-content, .region-sidebar-second {
	margin-bottom: 30px;
}


@media only screen and (min-width: 1024px) {
	.region-sidebar-first, .region-sidebar-second {
		float: left;
		width: 260px;
	}
	.region-sidebar-second {
		float: right;
	}
	.one-sidebar, .two-sidebars {
		.main-content {
			float: left;
			width: 100%;
		}
	}
	.sidebar-first, .two-sidebars {
		.main-content-wrap {
			margin-left: 280px;
		}
	}		
	.sidebar-second {
		.main-content-wrap {
			margin-right: 280px;
		}
	}
	.two-sidebars {
		.region-sidebar-second {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.two-sidebars {
		.region-sidebar-second {
			width: 260px;
		}
		.main-content-wrap {
			margin-right: 280px;
		}
	}
}
